# Ignore Python cache files and directories
**/__pycache__/
**/*.pyc
**/*.pyo

# Ignore IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*.pid

# ignore test models
data/k8s_chaos_data_test_predictions.csv